<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3333;
    "
  >
    <h1 style="color: aliceblue; font-size: 45px">new page</h1>
    <img style="width: 300px" src="../img/IMG_0504.PNG" alt="djhfjd" />
  </body>
</html>
